@model Study_Tracker.Models.StudyDate
@{
    ViewData["Title"] = "Create";
}

<h1>Add Time Studied</h1>
<hr />
<h3>
    You have studied @ViewData["ModuleHoursThisWeek"] hours so far this week out of the @ViewData["ModuleRecommendedHours"] recommended hours.
</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Modules" asp-action="AddStudyTime" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="hoursStudied" class="control-label">How many hours did you study?</label>
                <input asp-for="hoursStudied" class="form-control" />
                <span asp-validation-for="hoursStudied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
