@model Study_Tracker.Models.Module

@{
    ViewData["Title"] = "Create";
}

<h1>Create A Module</h1>

<h4>Module</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="moduleCode" class="control-label">Module Code</label>
                <input asp-for="moduleCode" class="form-control" />
                <span asp-validation-for="moduleCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="moduleName" class="control-label">Module Name</label>
                <input asp-for="moduleName" class="form-control" />
                <span asp-validation-for="moduleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="credits" class="control-label">Module Credits</label>
                <input asp-for="credits" class="form-control" />
                <span asp-validation-for="credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="classHoursPerWeek" class="control-label">Class Hours Per Week</label>
                <input asp-for="classHoursPerWeek" class="form-control" />
                <span asp-validation-for="classHoursPerWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="semesterNumOfWeeks" class="control-label">Number Of Weeks in the Semester</label>
                <input asp-for="semesterNumOfWeeks" class="form-control" />
                <span asp-validation-for="semesterNumOfWeeks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="semesterStartDate" class="control-label">When does the Semester Start</label>
                <input asp-for="semesterStartDate" class="form-control" />
                <span asp-validation-for="semesterStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewData["ValidateMessage"] != null)
{
    <hr />
    <label>@ViewData["ValidateMessage"]</label>
    <hr />
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
